@use "./partials/colors" as *;
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  top: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

@mixin header-footer {
  height: 10vh;
  background-color: $dark;
  color: $text-light;
}

header {
  @include header-footer;
  border-bottom: 0.25rem solid $primary;
}

main {
  min-height: 80vh;

  .routes {
    margin: 1rem;

    .route-list {
      margin-left: 1rem;
    }
  }
  .buttons {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;

    button {
      border: 2px solid $secondary;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      padding: 0.5rem;

      img {
        margin-left: 0.5rem;
      }
    }
  }
}

footer {
  @include header-footer;
  border-top: 0.25rem solid $primary;
  display: grid;
  grid-template: "credits middle link" auto / 2fr 1fr 1fr;
  align-content: center;
  text-align: center;

  span {
    grid-area: credits;
  }

  a {
    grid-area: link;
    color: $text-light;
    text-transform: capitalize;
  }
}
